@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-thumb-gradient {
  scrollbar-color: #fff #e5e7eb;
}

::-webkit-scrollbar {
  width: 6px;
  height: 10px;
  scroll-behavior: smooth;
}

::-webkit-scrollbar-thumb {
  background-color: #f1f1f12f;
  background-image: linear-gradient(to bottom, #eff0f55e 0%, #5a5d61 100%);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}

.bg-img-blur {
  background-image: url("https://image.tmdb.org/t/p/original/A3ZbZsmsvNGdprRi2lKgGEeVLEH.jpg");

}